body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

section {
    margin-top: 20px;
}

h2 {
    color: #333;
}

p {
    color: #555;
}

footer {
    margin-top: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

details {
    margin-top: 10px;
    margin-left: 20px;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}

summary {
    cursor: pointer;
    font-weight: bold;
}